@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  background-color: var(--bg);
  background-image: url("assets/anniversary.gif");
  background-size: cover;
  place-items: center;
  color: #FFD1DC;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  display: none;
  color:#FFD1DC
}

.buttons {
  background: #800000;
  border: 2px solid #FFD1DC;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFD1DC;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 16px 24px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 2px;
}

.buttons:hover,
.buttons:active {
  background-color: #FFD1DC;
  background-position: 0 0;
  color: #FF10F0;
}

.buttons:active {
  opacity: 0.9;
}

#responseNo {
  position: absolute;
  transform: translate(-50%)
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

:root {
  --bg: #000000;
  --clr-1: #800000;
  --clr-2: #FF10F0;
  --clr-3: #8A00C4;
  --clr-4: #FFD1DC;
  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 30%;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  margin: 0;
}